/* EmployeeList.module.css */

.tableContainer {
  box-shadow: 0px 3px 6px #00000029;
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid #a8c842;
  max-width: 100%;
  overflow-x: auto;
}

.table {
  min-width: 1000px;
  border-collapse: collapse;
}

.table th,
.table td {
  border-right: 2px solid #a8c842;
  border-bottom: 2px solid #a8c842;
}

.table th:last-child,
.table td:last-child {
  border-right: none;
}

.tableHeadRow {
  background-color: #a8c842;
  color: white;
  font-weight: bold;
}


.editButton {
  color: white;
  margin-right: 8px;
  border-radius: 4px;
}

.deleteButton {
  padding: 7px;
}
.employeeGrid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr); /* Default for mobile */
}

@media (min-width: 600px) {
  .employeeGrid {
    grid-template-columns: repeat(2, 1fr); /* For tablets */
  }
}

@media (min-width: 960px) {
  .employeeGrid {
    grid-template-columns: repeat(3, 1fr); /* For desktops */
  }
}

@media (min-width: 1280px) {
  .employeeGrid {
    grid-template-columns: repeat(4, 1fr); /* For large screens */
  }
}

@media (min-width: 1920px) {
  .employeeGrid {
    grid-template-columns: repeat(5, 1fr); /* For extra-large screens */
  }
}

.cardEmail {
  text-decoration: underline;
}

.cardBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
